:host{
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.card {
    min-width: 250px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

