.shipping{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.street{
    display:inline;
}
.space{
    padding-right: 20px;
}
.column{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}